<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <container class="d-flex flex-column vh-100">
        <header class="bg-info text-white p-3 border-bottom border-black border-3 d-flex justify-content-between">
            <h1>WEBSITE NAME HERE</h1>
            <nav class="d-flex align-items-center gap-1">
                <!-- HREFS NEED TO BE REPLACE BY CONTROLLER ROUTES -->
                <a class="btn bg-white border-black" href="">Home</a>
                <a class="btn bg-info-subtle border-black" href="./users.html">Users</a>
                <a class="btn bg-info-subtle border-black" href="./profile.html">Profile</a>
                <a class="btn bg-info-subtle border-black" href="">Logout</a>
            </nav>
        </header>
        <main class="d-flex justify-content-center align-items-center vh-100">
            <div class="align-items-center h-25 overflow-auto w-50">
                <!-- TABLE PLACEHOLDER...NEEDS JINJA FOR SQL QUERY TO POPULATE TABLE BODY -->
                <table class="table table-striped table-bordered border border-2 border-black">
                    <thead class="text-decoration-underline">
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BOOK TITLE</td>
                            <td>AUTHOR NAME</td>
                            <td class="d-flex justify-content-evenly">
                                <a class="btn bg-success text-white" href="">Add to Reading List</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </container>
</body>
</html>