<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <container class="d-flex flex-column vh-100">
        <header class="bg-info text-white p-3 border-bottom border-black border-3 d-flex justify-content-between">
            <h1>Books for Nooks</h1>
            <nav class="d-flex align-items-center gap-1">
                <!-- HREFS ARE EMPTY FOR THE CONTROLLER ROUTES -->

                <a class="btn bg-info-subtle border-black" href="/home">Home</a>
                <a class="btn bg-info-subtle border-black" href="/users">Users</a>
                <a class="btn bg-info-subtle border-black" href="/books/add_book">Add Books</a>

                <a class="btn bg-white border-black" href="/users/{{session_user.id}}">Profile</a>

                <a class="btn bg-info-subtle border-black" href="/logout">Logout</a>
            </nav>
        </header>
        <main class="d-flex justify-content-center align-items-center vh-100">
            <div class="card container p-3">
                <div class="card-header d-flex justify-content-between">
                    <h2>{{user.username}}</h2>
                    <div class="d-flex align-items-center">
                        <a class="btn bg-warning text-white" href="/edit_user/{{user.id}}">Edit Profile</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <p><strong>Name:</strong></p>
                        <p>{{user.real_name}}</p>
                    </div>
                    <div class="d-flex gap-3">
                        <p><strong>Gender:</strong></p>
                        <p>{{user.gender}}</p>
                    </div>
                    <div class="d-flex gap-3">
                        <p><strong>Email:</strong></p>
                        <p>{{user.email}}</p>
                    </div>
                    <div class="d-flex gap-3">
                        <p><strong>Member Since:</strong></p>
                        <p>{{user.created_at}}</p>
                    </div>
                </div>
                <div style="height: 20rem;" class="card-footer overflow-auto">
                    <h2>Reading List</h2>
                    <table class="table table-striped table-bordered border border-2 border-black">
                        <thead class="text-decoration-underline">
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                {% if session['user_id'] == user.id %}
                                    <th>Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        {% for book in user.saved_books %}
                        <tbody>
                            <tr>
                                <td>{{book.title}}</td>
                                <td>{{book.author}}</td>
                                {% if session['user_id'] == user.id %}
                                    <td class="d-flex justify-content-evenly">
                                        <form action="/unsave" method="post">
                                            <input type="hidden" name="user_id" value="{{user.id}}" id="user_id">
                                            <input type="hidden" name="book_id" value="{{book.id}}" id="book_id">
                                            <input type="submit" class="btn bg-danger text-white" value="Remove from Reading List">
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </container>
</body>
</html>